@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans&display=swap');


:root{
    --marginBottom: 50px;
}
header{
    background-image: url(img/bg-header.jpg);
    padding-top: 50px;
    padding-bottom: 1px;
}

h1,h2,h3{
    font-family: 'Abel';
    text-align: center;
}

h1{
    color: lightgrey;
    font-size: xx-large;
}

p{
    font-family: 'open sans';
    width: 60%;
    margin: auto;
    color: rgb(37,37,37);
}

hr{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
}


#logo{
    width: 256px;
    margin-right: auto;
    margin-left: auto;
}

#logo img{
    border: 1px solid lightgrey;
}

nav{
    background-color: white;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

nav ul{
    padding-left: 0px;
}

nav ul li{
    display: inline-block;
    margin-right: 5px;
}


nav ul li a{
    color: rgb(37,37,37);
}

.bg-light p{
    width: 100%;
    text-align: center;
}

.lead{
    font-size: large;
}

section{
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn.blue{
    display: inline-block;
    background-color: darkcyan;
    color: lightgrey;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 50px;
}

.display-1{
    color: rgb(37,37,37);
    font-size:xx-large
}

#competence{
    background-color: rgb(37,37,37);
}

.display-2{
    color: lightgrey;
}

#competence{
    padding-bottom: 2rem;
}

#competence hr{
    color: lightgrey;
}

#competence .bg-light{   
    text-align: left;
    width: 800px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#competence .bg-light p{
    text-align: left;
}

#competence .bg-light h3{
    text-align: left;
}

#competence div img{
  float: left;
  margin-right: 2rem;
  margin-left: 2rem;
}
#container{
    text-align: center;
}
#container div{
    display: inline-block;
    width: 256px;
    margin-left: 5%;
    margin-right: 5%;
}

#container div:first-child{
    margin-left: 0px;
}

#container div:last-child{
    margin-right: 0px;
}

#ref .display-2{
    color: rgb(37,37,37);
}

.footer{
    background-color: rgb(37,37,37);
    text-align: center;
    color: lightgrey;
}

.footer a{
    color: lightgrey;
}